@charset "UTF-8";
/* CSS Document */
*{
    box-sizing: border-box;
   
}
#container{
	width:1020px;
	margin:0 auto;
}

body{
    background-image: url("assets/images/double-helix-blue-dna-icon-or-or-logo-vector-19171224.jpg");
    text-decoration: underline;
    margin-top: -13px;
    padding-top: 16px;
}

#container{
	width: 1020px;
	margin: 0 auto;
	
}

header{
    background-color: aliceblue;
    width: 100%;
    height: 85px;
    border: thick solid;
    padding-bottom: 180px;
    font-family: 'Anton', sans-serif;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 20px;
    text-shadow: 15px rgba(9,59,197,1.00)
}

h1{
	font-size: 70px;
	text-align: center;
	text-decoration: underline;
	background-color: aliceblue;
	
}



h3{
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    background-color: aliceblue;
    border-radius: 15px;
}


h4{
	font-size: 70px;
	text-align: center;
	text-decoration: underline;
	background-color: aliceblue;
}

h5{
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
    background-color: aliceblue;
    border-radius: 15px;
}



nav{
    background-color: antiquewhite;
    width: 100%;
    height: 25px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: thin solid;
    text-align: center;
    margin-left: 0px;
    word-spacing: 50px;
    
}


#intro{
    width: 350px;
    background-color: rgba(72,163,62,1.00);
    height: 160px;
    border: thick solid;
    font-family: 'Noto Sans JP', sans-serif;
    right: 300px;
    top: 150px;
    margin-top: -16px;
    margin-right: 50px;
    margin-left: center;
    margin-bottom: center;
    text-decoration: none;
}

h2{
    font-size: 70px;
    text-align: center;
    outline: double;
}

#aboutme1{
    align-content: center;
    width: 400px;
    background-color: cornflowerblue;
    height: 300px;
    float: right;
    border: thick solid;
    font-family: 'Noto Sans JP', sans-serif;
    top: 70px;
    clear: right;
    margin-top: -500px;
    left: 275px;
}

footer{
	background-color: rgba(72,163,62,1.00);
	width: 100%;
	height: 40px;
	border: thin solid;
	
}


#life{
			width:330px;
			background-color: rgba(72,163,62,1.00);
			height:320px;
			float:left;	
			margin-right:15px; 
			border:thick solid;
			font-family: 'Noto Sans JP', sans-serif;
			border-radius: 15px;
    		bottom: 25px;
}

#contest{
    width: 320px;
    background-color: rgba(72,163,62,1.00);
    height: 320px;
    float: left;
    margin-right: 15px;
    border: thick solid;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 15px;
    bottom: 25px;
		}

#pose{
    width: 330px;
    background-color: rgba(72,163,62,1.00);
    height: 320px;
    float: left;
	margin-right: 15px;
    border: thick solid;
    font-family: 'Noto Sans JP', sans-serif;
	border-radius: 15px;
    bottom: 25px;
	
		}


#art1{
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    
}

#art2{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;

}
#art3{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	
}

#art4{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	
}

#contact{
    width: 470px;
    background-color: rgba(72,163,62,1.00);
    height: 30px;
    float: left;
    border: thick solid;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 15px;
    bottom: 25px;
    margin-top: 11px;
    margin-right: 50px;
    margin-left: center;
    margin-bottom: center;
    display: table;
    top: 152px;
}


#set1{
			width:320px;
			height:300px;
			float:left;	
			margin-right:15px; 
			
}
#set2{
			width:320px;
			height:300px;
	 		float:left;
			margin-right:15px; 
			

		}
#testimonial{
			width:320px;
			background-color: rgba(72,163,62,1.00);
			height:500px;
			float:left;
			border:thick solid;
			font-family: 'Noto Sans JP', sans-serif;
		}

#clients1{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;

}
#clients2{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;

}
#clienttest{
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	
}